.footer
    background-color: #D3D3D3
    height: 180px
    min-height: 180px
    display: flex
    justify-content: center
    align-items: center
    &__text
        color: #231F20
        font-family: "Antonio", sans-serif
        font-size: 30px