.footer
    background-color: #FFD9C0
    height: 180px
    min-height: 180px
    display: flex
    justify-content: center
    align-items: center
    &__text
        color: #7c1444
        font-family: "Antonio", sans-serif
        font-size: 30px