.header
    background-color: #231F20
    font-family: "Antonio", sans-serif
    color: white
    padding-bottom: 10px
    &__nav
        max-width: 1440px
        margin: auto
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: flex-end
        &--title
            font-size: 72px
            font-weight: 700
        &--menu
            display: flex
            flex-direction: row
            font-size: 38px
            font-weight: 700
            gap: 25px
            padding-bottom: 5px
