.presentation
    margin: auto
    padding: 0 100px
    max-width: 1240px
    font-family: montserrat, sans-serif
    font-style: italic
    margin-bottom: 50px
    &__title
        font-size: 72px
        font-weight: 400
        margin-bottom: 10px
    &__text
        font-weight: 200
        font-size: 45px
        line-height: 52px