* {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: inherit;
  color: inherit;
}

strong {
  font: inherit;
}

em {
  font: inherit;
}

body {
  background-color: #FAFAFA;
  color: #141212;
}

.header {
  position: relative;
  font-family: "Antonio", sans-serif;
  color: #9b1c58;
  padding-bottom: 10px;
  border-bottom: 1px solid #f4f3f2;
  z-index: 5;
}
.header__nav {
  padding: 0 100px;
  max-width: 1240px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.header__nav--title {
  font-size: 72px;
  font-weight: 700;
  cursor: pointer;
  white-space: nowrap;
}
.header__nav--menu {
  margin-left: 25px;
  display: flex;
  flex-direction: row;
  font-size: 38px;
  font-weight: 700;
  gap: 25px;
  padding-bottom: 5px;
}
.header__nav--menu li {
  text-decoration: underline rgba(155, 28, 88, 0);
  transition: text-decoration-color 0.3s ease;
}
.header__nav--menu li:hover {
  text-decoration-color: #9b1c58;
}

.menu-mobile {
  display: none;
  height: 35px;
  width: 40px;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-mobile input {
  height: 100%;
  width: 100%;
  opacity: 0;
  position: absolute;
  z-index: 10;
}
.menu-mobile span {
  display: flex;
  width: 29px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #9b1c58;
  border-radius: 1px;
  z-index: 3;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
.menu-mobile span:first-child {
  transform-origin: 50% 0%;
}
.menu-mobile span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
.menu-mobile input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-6px, -12.5px);
}
.menu-mobile input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.menu-mobile input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(-4px, 12.5px);
}

@media screen and (max-width: 1390px) and (min-width: 1024px) {
  .header__nav {
    padding: 0 50px;
  }
  .header__nav--title {
    font-size: 55px;
  }
  .header__nav--menu {
    font-size: 30px;
    gap: 15px;
  }
}
@media screen and (max-width: 1023px) and (min-width: 769px) {
  .header__nav {
    padding: 0 50px;
  }
  .header__nav--title {
    font-size: 42px;
  }
  .header__nav--menu {
    margin-left: 20px;
    font-size: 20px;
    gap: 15px;
  }
}
@media screen and (max-width: 768px) {
  .header__nav {
    padding: 0 20px;
  }
  .header__nav--title {
    font-size: 46px;
  }
  .header__nav--menu {
    font-size: 20px;
    z-index: 2;
    text-align: right;
    flex-direction: column;
    position: relative;
    gap: 0;
    border-radius: 0 0 0 10px;
    position: absolute;
    right: 0px;
    top: 69px;
    padding: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, border-color 0.5s step-start;
    height: auto;
    max-height: 100vh;
  }
  .header__nav--menu li {
    border: 1px solid #f4f3f2;
    background-color: #FAFAFA;
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: end;
    color: #9b1c58;
  }
  .menu-mobile-off {
    max-height: 0%;
    transition: border-color 0.5s step-end, max-height 0.5s ease-in-out;
  }
  .menu-mobile {
    display: flex;
  }
}
@media screen and (max-width: 360px) {
  .header__nav--title {
    font-size: 38px;
  }
  .header__nav--menu {
    top: 59px;
  }
}
.footer {
  background: linear-gradient(0deg, rgb(244, 243, 242) 99%, rgba(244, 243, 242, 0) 100%);
  height: 180px;
  min-height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__text {
  color: #7c1444;
  font-family: "Antonio", sans-serif;
  font-size: 30px;
}

.header__nav--menu li:nth-child(4) {
  text-decoration: underline;
}

.splash {
  overflow: hidden;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  cursor: default;
  user-select: none;
}
.splash__img {
  filter: brightness(0.6);
  pointer-events: none;
}
.splash__title {
  font-family: "Antonio", sans-serif;
  font-size: 72px;
  font-weight: bold;
  text-align: center;
  color: #FFF9F0;
  position: absolute;
  z-index: 1;
  text-shadow: 0px 3px 15px #000000, 0px 3px 20px black, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.activites {
  max-width: 1240px;
  padding: 0 100px;
  margin: auto;
}
.activites__activite {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2.5%;
  font-family: "Montserrat", sans-serif;
}
.activites__activite--img {
  width: calc(50% - 15px);
  height: 350px;
  object-fit: cover;
  border-radius: 15px;
}
.activites__activite--text {
  width: calc(50% - 15px);
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.activites__activite--title {
  font-size: 55px;
  font-weight: 500;
}
.activites__activite--description {
  font-size: 30px;
  font-weight: 300;
}
.activites__activite:nth-child(2n+2) {
  flex-direction: row-reverse;
}

@media screen and (max-width: 1390px) {
  .activites {
    padding: 0 50px;
  }
  .activites__activite--title {
    font-size: 48px;
  }
  .activites__activite--description {
    font-size: 24px;
  }
}
@media screen and (max-width: 1024px) {
  .activites__activite--title {
    font-size: 35px;
  }
  .activites__activite--description {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .splash__title {
    font-size: 42px;
  }
  .activites {
    padding: 0 20px;
  }
  .activites__activite {
    flex-direction: column;
  }
  .activites__activite:nth-child(2n+2) {
    text-align: left;
    flex-direction: column;
  }
  .activites__activite--img {
    height: 280px;
    width: 100%;
    margin-bottom: 10px;
  }
  .activites__activite--text {
    padding: 5px;
    width: calc(100% - 10px);
  }
}

/*# sourceMappingURL=activites1.css.map */
