* {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: inherit;
  color: inherit;
}

strong {
  font: inherit;
}

em {
  font: inherit;
}

.header {
  background-color: #231F20;
  font-family: "Antonio", sans-serif;
  color: white;
  padding-bottom: 10px;
}
.header__nav {
  padding: 0 100px;
  max-width: 1240px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.header__nav--title {
  font-size: 72px;
  font-weight: 700;
  cursor: pointer;
  white-space: nowrap;
}
.header__nav--menu {
  margin-left: 25px;
  display: flex;
  flex-direction: row;
  font-size: 38px;
  font-weight: 700;
  gap: 25px;
  padding-bottom: 5px;
}
.header__nav--menu li {
  text-decoration: underline rgba(255, 255, 255, 0);
  transition: text-decoration-color 0.3s ease;
}
.header__nav--menu li:hover {
  text-decoration-color: rgb(255, 255, 255);
}

@media screen and (max-width: 1390px) and (min-width: 1024px) {
  .header__nav {
    padding: 0 50px;
  }
  .header__nav--title {
    font-size: 55px;
  }
  .header__nav--menu {
    font-size: 30px;
    gap: 15px;
  }
}
@media screen and (max-width: 1023px) and (min-width: 769px) {
  .header__nav {
    padding: 0 50px;
  }
  .header__nav--title {
    font-size: 42px;
  }
  .header__nav--menu {
    margin-left: 20px;
    font-size: 20px;
    gap: 15px;
  }
}
@media screen and (max-width: 768px) {
  .header__nav {
    padding: 0 20px;
  }
  .header__nav--title {
    font-size: 46px;
  }
  .header__nav--menu {
    display: none;
  }
}
@media screen and (max-width: 360px) {
  .header__nav--title {
    font-size: 38px;
  }
}
.footer {
  background-color: #D3D3D3;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__text {
  color: #231F20;
  font-family: "Antonio", sans-serif;
  font-size: 30px;
}

.header__nav--menu li:nth-child(5) {
  text-decoration: underline;
}

.contact {
  padding: 20px 100px;
  max-width: 1240px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.contact__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 36px;
  max-width: 620px;
}
.contact__text--title {
  font-weight: 500;
  font-size: 64px;
}
.contact__text--info {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.contact__map {
  width: 45%;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}

@media screen and (max-width: 1390px) {
  .contact {
    padding: 20px 50px;
  }
  .contact__text {
    font-size: 28px;
  }
  .contact__text--title {
    font-size: 48px;
  }
  .contact__map {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .contact {
    padding: 20px 20px;
    flex-direction: column;
  }
  .contact__map {
    width: 100%;
    height: 350px;
  }
  .contact__text {
    font-size: 20px;
  }
  .contact__text--title {
    font-size: 32px;
  }
}

/*# sourceMappingURL=contact.css.map */
