* {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: inherit;
  color: inherit;
}

strong {
  font: inherit;
}

em {
  font: inherit;
}

body {
  background-color: #FFF9F0;
  color: #141212;
}

.header {
  position: relative;
  background: #fff6de;
  font-family: "Antonio", sans-serif;
  color: #9b1c58;
  padding-bottom: 10px;
  box-shadow: 0px 0px 10px 0px black;
  z-index: 5;
}
.header__nav {
  padding: 0 100px;
  max-width: 1240px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.header__nav--title {
  font-size: 72px;
  font-weight: 700;
  cursor: pointer;
  white-space: nowrap;
}
.header__nav--menu {
  margin-left: 25px;
  display: flex;
  flex-direction: row;
  font-size: 38px;
  font-weight: 700;
  gap: 25px;
  padding-bottom: 5px;
}
.header__nav--menu li {
  text-decoration: underline rgba(155, 28, 88, 0);
  transition: text-decoration-color 0.3s ease;
}
.header__nav--menu li:hover {
  text-decoration-color: #9b1c58;
}

.menu-mobile {
  display: none;
  height: 35px;
  width: 40px;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-mobile input {
  height: 100%;
  width: 100%;
  opacity: 0;
  position: absolute;
  z-index: 10;
}
.menu-mobile span {
  display: flex;
  width: 29px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: white;
  border-radius: 1px;
  z-index: 3;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
.menu-mobile span:first-child {
  transform-origin: 50% 0%;
}
.menu-mobile span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
.menu-mobile input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-6px, -12.5px);
}
.menu-mobile input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.menu-mobile input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(-4px, 12.5px);
}

@media screen and (max-width: 1390px) and (min-width: 1024px) {
  .header__nav {
    padding: 0 50px;
  }
  .header__nav--title {
    font-size: 55px;
  }
  .header__nav--menu {
    font-size: 30px;
    gap: 15px;
  }
}
@media screen and (max-width: 1023px) and (min-width: 769px) {
  .header__nav {
    padding: 0 50px;
  }
  .header__nav--title {
    font-size: 42px;
  }
  .header__nav--menu {
    margin-left: 20px;
    font-size: 20px;
    gap: 15px;
  }
}
@media screen and (max-width: 768px) {
  .header__nav {
    padding: 0 20px;
  }
  .header__nav--title {
    font-size: 46px;
  }
  .header__nav--menu {
    font-size: 20px;
    z-index: 2;
    text-align: right;
    flex-direction: column;
    position: relative;
    gap: 0;
    border-radius: 0 0 0 10px;
    position: absolute;
    right: 0px;
    top: 69px;
    padding: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, border-color 0.5s step-start;
    height: auto;
    max-height: 100vh;
  }
  .header__nav--menu li {
    background-color: rgb(254, 197, 1);
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: end;
    color: #804046;
  }
  .menu-mobile-off {
    max-height: 0%;
    transition: border-color 0.5s step-end, max-height 0.5s ease-in-out;
  }
  .menu-mobile {
    display: flex;
  }
}
@media screen and (max-width: 360px) {
  .header__nav--title {
    font-size: 38px;
  }
  .header__nav--menu {
    top: 59px;
  }
}
.footer {
  background-color: #FFD9C0;
  height: 180px;
  min-height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__text {
  color: #7c1444;
  font-family: "Antonio", sans-serif;
  font-size: 30px;
}

.header__nav--menu li:nth-child(5) {
  text-decoration: underline;
}

.contact {
  padding: 20px 100px;
  max-width: 1240px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.contact__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 36px;
  max-width: 620px;
}
.contact__text--title {
  font-weight: 500;
  font-size: 64px;
}
.contact__text--info {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.contact__map {
  width: 45%;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 1390px) {
  .contact {
    padding: 20px 50px;
  }
  .contact__text {
    font-size: 28px;
  }
  .contact__text--title {
    font-size: 48px;
  }
  .contact__map {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .contact {
    padding: 20px 20px;
    flex-direction: column;
  }
  .contact__map {
    width: 100%;
    height: 350px;
  }
  .contact__text {
    font-size: 20px;
  }
  .contact__text--title {
    font-size: 32px;
  }
}

/*# sourceMappingURL=contact.css.map */
