* {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: inherit;
  color: inherit;
}

strong {
  font: inherit;
}

em {
  font: inherit;
}

.header {
  background-color: #231F20;
  font-family: "Antonio", sans-serif;
  color: white;
  padding-bottom: 10px;
}
.header__nav {
  padding: 0 100px;
  max-width: 1240px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.header__nav--title {
  font-size: 72px;
  font-weight: 700;
  cursor: pointer;
  white-space: nowrap;
}
.header__nav--menu {
  margin-left: 25px;
  display: flex;
  flex-direction: row;
  font-size: 38px;
  font-weight: 700;
  gap: 25px;
  padding-bottom: 5px;
}
.header__nav--menu li {
  text-decoration: underline rgba(255, 255, 255, 0);
  transition: text-decoration-color 0.3s ease;
}
.header__nav--menu li:hover {
  text-decoration-color: rgb(255, 255, 255);
}

@media screen and (max-width: 1390px) and (min-width: 1024px) {
  .header__nav {
    padding: 0 50px;
  }
  .header__nav--title {
    font-size: 55px;
  }
  .header__nav--menu {
    font-size: 30px;
    gap: 15px;
  }
}
@media screen and (max-width: 1023px) and (min-width: 769px) {
  .header__nav {
    padding: 0 50px;
  }
  .header__nav--title {
    font-size: 42px;
  }
  .header__nav--menu {
    margin-left: 20px;
    font-size: 20px;
    gap: 15px;
  }
}
@media screen and (max-width: 768px) {
  .header__nav {
    padding: 0 20px;
  }
  .header__nav--title {
    font-size: 46px;
  }
  .header__nav--menu {
    display: none;
  }
}
@media screen and (max-width: 360px) {
  .header__nav--title {
    font-size: 38px;
  }
}
.splash {
  overflow: hidden;
  height: 75vh;
  max-height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  cursor: default;
  user-select: none;
}
.splash__video {
  filter: brightness(0.7);
}
.splash__title {
  font-family: "Antonio", sans-serif;
  font-size: 72px;
  font-weight: bold;
  text-align: center;
  color: white;
  position: absolute;
  -webkit-text-stroke: 2px black;
  z-index: 1;
  text-shadow: 0px 3px 15px #000000, 0px 3px 20px black;
}

.presentation {
  margin: auto;
  padding: 0 100px;
  max-width: 1240px;
  font-family: montserrat, sans-serif;
  font-style: italic;
  margin-bottom: 50px;
}
.presentation__title {
  font-size: 72px;
  font-weight: 400;
  margin-bottom: 10px;
}
.presentation__text {
  font-weight: 200;
  font-size: 45px;
  line-height: 52px;
}

@media screen and (max-width: 1390px) and (min-width: 1024px) {
  .presentation {
    padding: 0 50px;
  }
  .presentation__title {
    font-size: 64px;
  }
}
@media screen and (max-width: 1023px) and (min-width: 769px) {
  .presentation {
    padding: 0 50px;
  }
  .presentation__title {
    font-size: 58px;
  }
  .presentation__text {
    font-size: 40px;
    line-height: 45px;
  }
}
@media screen and (max-width: 768px) {
  .presentation {
    padding: 0 20px;
  }
  .presentation__title {
    font-size: 48px;
  }
  .presentation__text {
    font-size: 32px;
    line-height: 35px;
  }
}
@media screen and (max-width: 425px) {
  .presentation__title {
    font-size: 35px;
  }
  .presentation__text {
    font-size: 28px;
    line-height: 30px;
  }
}
.agenda {
  padding: 0 100px;
  max-width: 1240px;
  margin: auto;
}
.agenda__google {
  width: 100%;
  height: 800px;
}
.agenda__title {
  text-align: center;
  font-family: montserrat, sans-serif;
  font-size: 50px;
  font-weight: 450;
}

.header__nav--menu li:nth-child(1) {
  text-decoration: underline;
}

@media screen and (max-width: 1390px) {
  .agenda {
    padding: 0 50px;
  }
}
@media screen and (max-width: 768px) {
  .splash__title {
    font-size: 48px;
  }
  .agenda {
    padding: 0 20px;
  }
  .agenda__google {
    height: 400px;
  }
  .agenda__title {
    font-size: 32px;
  }
}
@media screen and (max-width: 470px) {
  br {
    display: inline;
    content: " ";
    clear: none;
  }
  br::after {
    content: " ";
  }
}
.footer {
  background-color: #D3D3D3;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__text {
  color: #231F20;
  font-family: "Antonio", sans-serif;
  font-size: 30px;
}

/*# sourceMappingURL=index.css.map */
