@import ../global/regle
@import ../global/header
@import ../global/footer


.header
    &__nav
        &--menu li:nth-child(4)
            text-decoration: underline

.splash
    overflow: hidden
    height: 70vh
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin-bottom: 40px
    cursor: default
    user-select: none
    &__img
        filter: brightness(0.6)
        pointer-events: none
    &__title
        font-family: "Antonio", sans-serif
        font-size: 72px
        font-weight: bold
        text-align: center
        color: white
        position: absolute
        z-index: 1
        text-shadow: 0px 3px 15px #000000, 0px 3px 20px black, -2px -2px 0 #000,  2px -2px 0 #000,-2px 2px 0 #000, 2px 2px 0 #000

.activites
    max-width: 1240px
    padding: 0 100px
    margin: auto
    &__activite
        margin-bottom: 30px
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        gap: 2.5%
        font-family: "Montserrat", sans-serif
        &--img
            width: calc( 50% - 15px )
            height: 350px
            object-fit: cover
            border-radius: 15px
        &--text
            width: calc( 50% - 15px )
            display: flex
            flex-direction: column
            gap: 15px
        &--title
            font-size: 55px
            font-weight: 500
        &--description
            font-size: 30px
            font-weight: 300
        &:nth-child(2n+2)
            flex-direction: row-reverse
        

@media screen and (max-width: 1390px)
    .activites
        padding: 0 50px
        &__activite
            &--title
                font-size: 48px
            &--description
                font-size: 24px

@media screen and ( max-width: 1024px )
    .activites
        &__activite
            &--title
                font-size: 35px
            &--description
                font-size: 20px

@media screen and ( max-width: 768px )
    .splash
        &__title
            font-size: 42px

    .activites
        padding: 0 20px
        &__activite
            flex-direction: column
            &:nth-child(2n+2)
                text-align: left
                flex-direction: column
            &--img
                height: 280px
                width: 100%
                margin-bottom: 10px
            &--text
                padding: 5px
                width: calc(100% - 10px)
